main {
    margin-bottom: 10rem;
    table {
        @extend .table;
        border-bottom: 4px solid $gray-200;
        thead {
            background-color: $gray-200;
            tr {
                th {
                    color: $gray-600;
                    a {
                        color: $gray-800;
                    }
                }
            }
        }
        tbody {
            tr {
                &.task-marked {
                    background-color: $yellow-100;
                }
                td {
                    &.project-status-2 a {
                        color: $success;
                    }
                    &.project-status-3 a, &.project-status-16 a, &.project-status-18 a, &.project-status-20 a {
                        color: $gray-500;
                    }
                    &.project-status-4 a {
                        color: $gray-600;
                    }
                    &.project-status-10 a {
                        color: $blue;
                    }
                    &.project-status-13 a {
                        color: $danger;
                    }
                    &.project-status-14 a {
                        color: $teal;
                    }
                }
            }
        }
    }

    .button {
        @extend .btn;
        @extend .btn-primary;
    }
    .pagination {
        li {
            @extend .page-item;
            a {
                @extend .page-link;
            }
        }
        li.active {
            a {
                background-color: $gray-200;
            }
        }
    }
    form {
        margin-bottom: 4rem;
        input[type='text'], select, input[type='number'], input[type='datetime-local'], input[type='date'],
        textarea {
            @extend .form-control;
            margin-bottom: 0.5rem;
        }
        button[type='submit'] {
            @extend .btn;
            @extend .btn-primary;
        }
        div.checkbox {
            @extend .form-check;
            input {
                @extend .form-check-input;
            }
            label {
                @extend .form-check-label;
            }
        }
    }
    .message {
        @extend .alert;
        cursor: pointer;
        &.success {
            @extend .alert-success;
        }
        &.hidden {
            display: none;
        }
    }
    .actions {
        margin-bottom: 2rem;
        a {
            margin-right: 2rem;
            text-decoration: none;
        }
    }
}

