@use "sass:math";

$black: #fff;
$white: #000;
$pow: 1.8;

@function createGray($level) {
    $percent: $level / 10;
    $percent: math.pow($percent, $pow)/(math.pow(100,$pow)/100);
    @return mix($black, $white, $percent);
}

$gray-100: createGray(100);
$gray-200: createGray(200);
$gray-300: createGray(300);
$gray-400: createGray(400);
$gray-500: createGray(500);
$gray-600: createGray(600);
$gray-700: createGray(700);
$gray-800: createGray(800);
$gray-900: createGray(900);

$body-bg: $gray-300;
$primary: #135cc9;

// $body-color: $gray-900;
// $body-bg: $gray-300;

// $primary: #0658d3;
// $link-color: $primary;

// $bg-light: $gray-800;


