header {
    margin-bottom: 1rem;
    .navbar-brand {
        font-size: 200%;
        .char-1 {
            color: $success;
        }
        .char-2 {
            color: $warning;
        }
        .char-3 {
            color: $primary;
        }
    }
}
